{% extends '::form.html.twig' %}

{% block main_content %}

    <h1>{{ 'document.create'|trans }}</h1>

    {% include 'AppBundle:Document:_form.html.twig' %}
{% endblock main_content %}

{% block javascripts %}
    {{ parent() }}

    {%  include 'AppBundle:Document:_javascript.html.twig' %}
{% endblock javascripts %}