{% extends '::form.html.twig' %}

{% block main_content %}
    <h1>{{ 'recurrence.create'|trans }}</h1>

    {% include 'AppBundle:recurrence:_form.html.twig' %}
{% endblock main_content %}

{% block javascripts %}
    {{ parent() }}

    {% include 'AppBundle:recurrence:_javascript.html.twig' %}
{% endblock javascripts %}