{% extends 'form.html.twig' %}

{% block main_content %}
    {% set entity = form.vars.data %}
    <h1>{{ 'recurrence.edit'|trans({'%recurrence%': entity }) }}</h1>

    {% include 'recurrence/_form.html.twig' %}
{% endblock main_content %}

{% block javascripts %}
    {{ parent() }}

    {% include 'recurrence/_javascript.html.twig' %}
{% endblock javascripts %}