{% extends '::form.html.twig' %}

{% block main_content %}
    <h1>{{ 'petty_cash_note.create'|trans }}</h1>

    {% include 'AppBundle:petty_cash_note:_form.html.twig' %}
{% endblock main_content %}
