{% extends '::form.html.twig' %}

{% block main_content %}
    <h1>{{ 'petty_cash_note.edit'|trans({'%petty_cash_note%': form.vars.data }) }}</h1>

    {% include 'AppBundle:PettyCashNote:_form.html.twig' %}
{% endblock main_content %}
