{% extends '::one-column.html.twig' %}

{% block main_content %}
    <h1>{{ 'reset_password.completed'|trans }}</h1>

    <p>{{ 'reset_password.thank_you'|trans }}</p>

    <p>{{ 'reset_password.message'|trans({'%url%': path('login')})|raw }}</p>
{% endblock main_content %}
