{% extends '::form.html.twig' %}

{% block main_content %}
    <h2> {{ 'working_note.create'|trans }}</h2>

    {% include 'AppBundle:WorkingNote:_form.html.twig' %}

{% endblock main_content %}

{% block javascripts %}
    {{ parent() }}

    {% include 'AppBundle:WorkingNote:_javascript.html.twig' %}
{% endblock javascripts %}
