{% extends '::form.html.twig' %}

{% block main_content %}
    <h1>{{ 'service.edit'|trans({'%service%': form.vars.data }) }}</h1>

    {% include 'AppBundle:service:_form.html.twig' %}
{% endblock main_content %}
