{% block plain_text_widget %}
    <div {{ block('container_attributes') }}>
        <p class="btn btn-default" {{ block('widget_attributes') }}>{{ value|escape }}</p>
    </div>
{% endblock %}

{% block form_javascript %}
    {% spaceless %}
        {% for child in form %}
            {{ form_javascript(child) }}
        {% endfor %}
    {% endspaceless %}
{% endblock form_javascript %}


{% block field_javascript "" %}

{% block button_javascript "" %}