<script src="{{ asset('js/document-link.js') }}?version={{ version }}"></script>

<script type="text/template" id="empty-customers-template">
    <div class="empty-list">{{ 'customers.none_found'|trans }}</div>
</script>

{{ encore_entry_script_tags('working-note') }}
