{% extends '::form.html.twig' %}

{% block main_content %}
    <h1>{{ 'customer.edit'|trans({'%customer%': form.vars.data.name}) }}</h1>

    {% include 'AppBundle:Customer:_form.html.twig' %}
{% endblock main_content %}

{% block javascripts %}
    {{ parent() }}

    {%  include 'AppBundle:ZipCode:_typeahead.html.twig' %}
{% endblock javascripts %}