parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: ~
    database_name: invox
    database_user: root
    database_password: 'root'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    locale: en
    available_locales: [en, it]
    secret: ThisTokenIsNotSoSecretChangeIt
    mailer_delivery_address:
    noreply_display_name: No Reply
    noreply_email: noreply@invox.it
    info_display_name: 'Invox - Info'
    info_email: info@invox.it

    show_analytics: true
    show_chat: true
    show_registration: true

    redirect_to_login: false

    jms_serializer.camel_case_naming_strategy.class: JMS\Serializer\Naming\IdenticalPropertyNamingStrategy
    loco_api_key: loco-api-key

    launcher_links:
        demo: http://demo.invox.it/login
        download_code: "https://github.com/disider/invox/releases"
        wiki: "https://github.com/disider/invox/wiki"
        github_repo: "https://github.com/disider/invox"
        community: "#"
        join_development: "https://github.com/disider/invox/fork"

    demo_mode: false
    demo_credentials:
       owner:
          email: demo.owner@invox.it
          password: demo
       manager:
          email: demo.manager@invox.it
          password: demo
       accountant:
          email: demo.accountant@invox.it
          password: demo
       sales_agent:
          email: demo.sales@invox.it
          password: demo