{% extends 'form.html.twig' %}

{% block main_content %}
    <h1>{{ 'customer.edit'|trans({'%customer%': form.vars.data.name}) }}</h1>

    {% include 'customer/_form.html.twig' %}
{% endblock main_content %}

{% block javascripts %}
    {{ parent() }}

    {% include 'form/_address_autocomplete.html.twig' %}
{% endblock javascripts %}