{% extends '::one-column.html.twig' %}

{% block main_content %}
    <h1>{{ 'registration.success'|trans }}</h1>

    <p>{{ 'registration.thank_you'|trans }}</p>
    <p>{{ 'registration.check_email'|trans }}</p>
{% endblock main_content %}
