{% extends '::form.html.twig' %}

{% block main_content %}
    <h1>{{ 'document_template.create'|trans }}</h1>

    {% include 'AppBundle:document_template:_form.html.twig' %}
{% endblock main_content %}
