{% extends '::form.html.twig' %}

{% block main_content %}
    <h1>{{ 'province.edit'|trans({'%province%': form.vars.data }) }}</h1>

    {% include 'AppBundle:Province:_form.html.twig' %}
{% endblock main_content %}
