{% extends 'form.html.twig' %}

{% block main_content %}
    <h1>{{ 'payment_type.edit'|trans({'%payment_type%': form.vars.data }) }}</h1>

    {% include 'payment_type/_form.html.twig' %}
{% endblock main_content %}
