{% extends '::form.html.twig' %}

{% block main_content %}
    <h1>{{ 'zip_code.edit'|trans({'%zip_code%': form.vars.data }) }}</h1>

    {% include 'AppBundle:zip_codeode:_form.html.twig' %}
{% endblock main_content %}
