{% extends 'form.html.twig' %}

{% block main_content %}
    <h1>{{ 'company.create'|trans }}</h1>

    {% include 'company/_form.html.twig' %}
{% endblock main_content %}

{% block javascripts %}
    {{ parent() }}

    {% include 'zip_code/_typeahead.html.twig' %}
{% endblock javascripts %}