{% block plain_text_widget %}
    <p class="btn btn-default">{{ value|escape }}</p>
{% endblock %}

{% block form_javascript %}
    {% spaceless %}
        {% for child in form %}
            {{ form_javascript(child) }}
        {% endfor %}
    {% endspaceless %}
{% endblock form_javascript %}


{% block field_javascript "" %}

{% block button_javascript "" %}