{% block plain_text_widget %}
    <p class="btn btn-default">{{ value|escape }}</p>
{% endblock %}

{% block form_javascript %}
    {% spaceless %}
        {% for child in form %}
            {{ form_javascript(child) }}
        {% endfor %}
    {% endspaceless %}
{% endblock form_javascript %}

{% block filter_start %}
    {% spaceless %}
<div id="filter" class="collapse {{ app.request.query.has(name) ? 'in' : '' }}">
    {% endspaceless %}
{% endblock filter_start %}

{% block filter_end %}
    {% spaceless %}
</div>
    {% endspaceless %}
{% endblock filter_end %}

{% block field_javascript "" %}

{% block button_javascript "" %}