{% extends '::base.html.twig' %}

{% block page %}
    <section id="main-content" class="col-md-12">

        <div class="panel panel-default">

            <div class="panel-body">

                {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}

                {% block main_content %}

                {% endblock main_content %}
            </div>
        </div>
    </section>
{% endblock page %}