{% extends '::form.html.twig' %}

{% block main_content %}
    <h1>{{ 'user.edit'|trans({'%user%': form.vars.data }) }}</h1>

    {% include 'AppBundle:User:_form.html.twig' %}
{% endblock main_content %}
