{% extends '::form.html.twig' %}

{% block main_content %}
    {%  set city = form.vars.data %}
    <h1>{{ 'city.edit'|trans({'%city%': city }) }}</h1>

    {% include 'AppBundle:city:_form.html.twig' %}
{% endblock main_content %}
