{% extends 'one-column.html.twig' %}

{% block main_content %}
    <div class="row">

        <div class="col-md-12">
            <h1>{{ 'privacy.title'|trans }}</h1>

            <a href="{{ 'privacy.iubenda_link'|trans }}" class="iubenda-white iub-body-embed iubenda-embed"
               title="Privacy Policy">Privacy
                Policy</a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">(function (w, d) {
            var loader = function () {
                var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0];
                s.src = "//cdn.iubenda.com/iubenda.js";
                tag.parentNode.insertBefore(s, tag);
            };
            if (w.addEventListener) {
                w.addEventListener("load", loader, false);
            } else if (w.attachEvent) {
                w.attachEvent("onload", loader);
            } else {
                w.onload = loader;
            }
        })(window, document);</script>

{% endblock %}

